# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
<style>
table {margin-left: 0 !important;}
</style>
1. Pandas
2. NumPy
3. Scikit-Learn

| Data Science Tools   |
|----------------------|
| Jupyter Notebooks    |
| RStudio              |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
print(result)

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)

3.3333333333333335

**Objectives:**

- Understand the basics of Markdown in Jupyter Notebooks.
- Learn how to create and format text in a notebook.
- Explore how to insert images and create lists.
- Get familiar with code cells and how to execute them.
- Practice taking screenshots of notebook cells.

## Author
Milad Zarour