<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [19]:
import pandas as pd
import sqlite3

# Establish a connection to the database 'FinalDB.db'
conn = sqlite3.connect('FinalDB.db')

Load the SQL magic module

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [21]:
# Load datasets into pandas DataFrames
census_data = pd.read_csv('ChicagoCensusData.csv')
public_schools = pd.read_csv('ChicagoPublicSchools.csv')
crime_data = pd.read_csv('ChicagoCrimeData.csv')

# Load DataFrames into the database
census_data.to_sql('CENSUS_DATA', conn, if_exists='replace', index=False)
public_schools.to_sql('CHICAGO_PUBLIC_SCHOOLS', conn, if_exists='replace', index=False)
crime_data.to_sql('CHICAGO_CRIME_DATA', conn, if_exists='replace', index=False)

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [22]:
%sql sqlite:///FinalDB.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

In [23]:
# Function to execute a query and return the result as a DataFrame
def execute_sql_query(query):
    return pd.read_sql_query(query, conn)

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [24]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.
problem_1_query = "SELECT COUNT(*) AS total_number_of_crimes FROM CHICAGO_CRIME_DATA;"
problem_1_result = execute_sql_query(problem_1_query)
print("Problem 1 Result:\n", problem_1_result)

Problem 1 Result:
    total_number_of_crimes
0                     533

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [25]:
# Problem 2: List community area names and numbers with per capita income less than 11000.
problem_2_query = """
SELECT community_area_name, community_area_number
FROM CENSUS_DATA
WHERE per_capita_income < 11000;
"""
problem_2_result = execute_sql_query(problem_2_query)
print("\nProblem 2 Result:\n", problem_2_result)

Problem 2 Result:
   COMMUNITY_AREA_NAME  COMMUNITY_AREA_NUMBER
0  West Garfield Park                   26.0
1      South Lawndale                   30.0
2         Fuller Park                   37.0
3           Riverdale                   54.0

### Problem 3

##### List all case numbers for crimes involving a child?

In [26]:
# Problem 3: List all case numbers for crimes involving a child?
problem_3_query = """
SELECT case_number
FROM CHICAGO_CRIME_DATA
WHERE description LIKE '%CHILD%';
"""
problem_3_result = execute_sql_query(problem_3_query)
print("\nProblem 3 Result:\n", problem_3_result)

Problem 3 Result:
   CASE_NUMBER
0    HN567387
1    HR391350
2    HN144152

### Problem 4

##### List all kidnapping crimes involving a child?

In [27]:
# Problem 4: List all kidnapping crimes involving a child?
problem_4_query = """
SELECT case_number, primary_type, description
FROM CHICAGO_CRIME_DATA
WHERE primary_type = 'KIDNAPPING' AND description LIKE '%CHILD%';
"""
problem_4_result = execute_sql_query(problem_4_query)
print("\nProblem 4 Result:\n", problem_4_result)

Problem 4 Result:
   CASE_NUMBER PRIMARY_TYPE               DESCRIPTION
0    HN144152   KIDNAPPING  CHILD ABDUCTION/STRANGER

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [28]:
# Problem 5: List the kind of crimes that were recorded at schools. (No repetitions)
problem_5_query = """
SELECT DISTINCT(primary_type)
FROM CHICAGO_CRIME_DATA
WHERE location_description LIKE '%SCHOOL%';
"""
problem_5_result = execute_sql_query(problem_5_query)
print("\nProblem 5 Result:\n", problem_5_result)

Problem 5 Result:
              PRIMARY_TYPE
0                 BATTERY
1         CRIMINAL DAMAGE
2               NARCOTICS
3                 ASSAULT
4       CRIMINAL TRESPASS
5  PUBLIC PEACE VIOLATION

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [29]:
# Problem 6: List the type of schools along with the average safety score for each type.
problem_6_query = """
SELECT "Elementary, Middle, or High School", AVG(safety_score) as average_safety_score
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "Elementary, Middle, or High School";
"""
problem_6_result = execute_sql_query(problem_6_query)
print("\nProblem 6 Result:\n", problem_6_result)

Problem 6 Result:
   Elementary, Middle, or High School  average_safety_score
0                                 ES             49.520384
1                                 HS             49.623529
2                                 MS             48.000000

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [30]:
# Problem 7: List 5 community areas with highest % of households below poverty line
problem_7_query = """
SELECT community_area_name
FROM CENSUS_DATA
ORDER BY percent_households_below_poverty DESC
LIMIT 5;
"""
problem_7_result = execute_sql_query(problem_7_query)
print("\nProblem 7 Result:\n", problem_7_result)

Problem 7 Result:
   COMMUNITY_AREA_NAME
0           Riverdale
1         Fuller Park
2           Englewood
3      North Lawndale
4  East Garfield Park

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [31]:
# Problem 8: Which community area is most crime prone?
problem_8_query = """
SELECT community_area_number, COUNT(*) AS number_of_crimes
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY number_of_crimes DESC
LIMIT 1;
"""
problem_8_result = execute_sql_query(problem_8_query)
print("\nProblem 8 Result:\n", problem_8_result)

Problem 8 Result:
    COMMUNITY_AREA_NUMBER  number_of_crimes
0                   25.0                43


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [32]:
# Problem 9: Find the name of the community area with highest hardship index
problem_9_query = """
SELECT community_area_name
FROM CENSUS_DATA
WHERE hardship_index = (SELECT MAX(hardship_index) FROM CENSUS_DATA);
"""
problem_9_result = execute_sql_query(problem_9_query)
print("\nProblem 9 Result:\n", problem_9_result)

Problem 9 Result:
   COMMUNITY_AREA_NAME
0           Riverdale

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [33]:
# Problem 10: Determine the Community Area Name with most number of crimes
problem_10_query = """
SELECT CD.community_area_name
FROM CENSUS_DATA CD
JOIN CHICAGO_CRIME_DATA CCD ON CD.community_area_number = CCD.community_area_number
GROUP BY CD.community_area_name
ORDER BY COUNT(CCD.id) DESC
LIMIT 1;
"""
problem_10_result = execute_sql_query(problem_10_query)
print("\nProblem 10 Result:\n", problem_10_result)

Problem 10 Result:
   COMMUNITY_AREA_NAME
0              Austin

In [34]:
# Close the connection to the database
conn.close()

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>